@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
    font-size: 40px;
}

.inputgroup {
    position: relative;
    margin: 20px 0;
}

.inputgroup label {
    position: absolute;
    top: 17.5px;
    left: 16px; 
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 5px;
    pointer-events: none;
    transition: 0.5s ease;
    background: white; 
    z-index: 1; 
}

.inputgroup input,
.inputgroup textarea {
    width: 350px; 
    font-size: 16px;
    color: rgb(10, 10, 45);
    padding: 16px;
    border: 0.6px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 0; 
}

.inputgroup input {
    height: 40px; 
}

.inputgroup textarea {
    height: 120px; 
    padding-top: 16px; 
}

.inputgroup input:focus ~ label,
.inputgroup input:valid ~ label,
.inputgroup textarea:focus ~ label,
.inputgroup textarea:valid ~ label {
    top: -3px;
    font-size: 12px;
    color: black;
    padding: 0 5px; 
}

.button {
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 10px;
    background-color: rgb(10, 10, 45);
    color: white;
    font-size: 16px;
}

.button:hover {
    background-color: blue;
    transition: 0.75s;
}

.call {
    padding-top: 20px;
    gap: 8px;
    margin-bottom: 8px;
}

.call img {
    padding-top: 5px;
}

.gmail {
    gap: 8px;
    padding-bottom: 0px;
    display: flex;
}

.gmail img {
}

.email {
    font-size: 20px;
}

.call, .email {
    display: flex;
}

.number {
    padding-top: 3px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px auto 0px;
    max-width: 1440px;
    padding-left: 208px;
}

.image {
    margin-left: -50px;
    margin-top: 100px;
}

.image img {
    max-width: 477px;
    height: auto; 
    overflow: hidden;
}

.form {
    max-width: 360px;
    margin-right: 400px;
    margin-top: 60px;
    height: 490px;
    margin-bottom: 80px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .image {
        width: 100%; 
        max-width: 700px; 
        height: auto; 
    }
    .container {
        padding-left: 100px;
    }
}

@media (min-width: 1501px) and (max-width: 2000px) {
    .image {
        width: 100%; 
        max-width: 700px; 
        height: auto; 
    }
    .container {
        padding-left: 100px;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    h1 {
        text-align: left; 
        padding-left: 5px; 
    }

    .inputgroup {
        margin: 15px 0;
    }

    .container {
        padding-left: 15px; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    .image {
        display: none; 
    }

    .form {
        margin-right: 0;
        align-self: flex-start; 
        padding-left: 10px;
        margin-bottom: 40px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    h1 {
        text-align: left; 
        padding-left: 5px; 
    }

    .inputgroup {
        margin: 15px 0;
    }
    .inputgroup input,
    .inputgroup textarea,
    .button {
        width: 300px;
        border: 0.6px solid rgb(10, 10, 45);
    }

    .container {
        padding-left: 15px; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    .image {
        display: none; 
    }

    .form {
        margin-right: 0;
        align-self: flex-start; 
        padding-left: 10px;
        margin-bottom: 40px;
    }
}
.darkened-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999; /* Ensure it's above all content but below the toast */
  }
.Toastify__toast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    width: 100%; /* Full width to ensure centering */
    height: 60%; /* Full height to ensure centering */
  }
  
  .Toastify__toast {
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:356px;
    height:165px;
  }
  
  .Toastify__toast--success {
    border-left: 5px solid #4caf50;
  }
  
  .Toastify__close-button {
    color: rgba(0, 0, 0, 0.5);
  }
