
.footer-parent {
    width: 100%;
}

.footer-container {
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 6rem;
}

@media (max-width: 768px) {
    .footer-container {
      padding-left: 1.3rem;
      display: flex;
        /* justify-content: space-between;
        align-items: center; */
    }
    .footer-container img {
        width: 98px;
        height: auto;
    }
    .footer-mob-img{
        
        width: 98px;
        height: 49px;
    }
}
