@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.hero-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #0B1E45; 
    color: white;
    /* padding-left: 70px; */
    height: 467px; 
    box-sizing: border-box;
    padding-left: 100px;
}

.hero-content {
    /* max-width: 50%;
    text-align: justify; */
    width: 590px;
    height: 267px;
    


}
.hero-title, .hero-subtitle, .hero-description {
    margin: 0;
    /* text-align: justify; */
    width: 100%;
}

.hero-title, .hero-subtitle {
   
    font-weight:700;
    font-size: 2rem;
    margin: 0;
    
}


.hero-description {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    font-size: 0.9rem;
    text-align: justify;
    max-width: 80%;
  
    
    
}

.hero-button {
    background-color: white;
    color: #0B1E45;
    border: none;
    padding: 8px 40px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #e5e5e5;
}

.hero-image-container {
   
    /* margin-left: 40px;
    padding-left: 150px;
    
    max-width: 50%; */
    margin-top: 90px;
    margin-left: 150PX;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image {
    /* top: 50px; */
    /* max-height: 100%;
    max-width: 100%;
    width: auto;   my previous css
    height: auto; */
    
    width:534px;
    height: 379.43px;


}
/* Mobile view adjustments */

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title, .hero-subtitle {
        font-size: 2.1rem;
    }

    .hero-description {
        font-size: 0.85rem;
        max-width: 100%;
    }

    .hero-button {
        padding: 8px 140px;
        font-size: 0.9rem;
    }

    .hero-image-container {
        margin-top: 20px;
        padding-left: 0;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-image {
        width: 215%;
        max-width: 500px; 
        height:auto;
}
}
@media (min-width: 1400px) {
   
    .hero-content {
        max-width: 50%; 
    }

    .hero-title, .hero-subtitle {
        font-size: 2rem; 
    }

    .hero-image-container {
        margin-left: 350px; 
    }

    .hero-image {
        width: 534px;
        height: 379.43px;
    }
}