@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added this */
    background-color: #0B1E45;
    color: white;
    height: 467px;
    box-sizing: border-box;
    padding-left:100px;
}

.hero-content {
    width: 45%; /* Changed this to make it half of the container */
}

.hero-title, .hero-subtitle, .hero-description {
    margin: 0;
}

.hero-title, .hero-subtitle {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.hero-description {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    font-size: 0.9rem;
}

.hero-button {
    background-color: white;
    color: #0B1E45;
    border: none;
    padding: 8px 40px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #e5e5e5;
}

.hero-image-container {
    width: 50%; /* Changed this to make it half of the container */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
}

.hero-image {
    width: 434px;
    height: auto; /* Ensure the aspect ratio is maintained */
}

/* Mobile view adjustments */

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title, .hero-subtitle {
        font-size: 2.1rem;
    }

    .hero-description {
        font-size: 0.85rem;
        max-width: 100%;
    }

    .hero-button {
        padding: 8px 140px;
        font-size: 0.9rem;
    }

    .hero-image-container {
        margin-top: 20px;
        padding-left: 0;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-image {
        width: 215%;
        max-width: 500px; 
        height:auto;
}
}
@media (min-width:1000px) and (max-width:1350px){
    .hero-image{

    }
    .hero-section{
        height: 390px;
    }
}
@media (min-width: 1400px) {
    .hero-content{
        width: 40%;
    }
    .hero-title, .hero-subtitle {
        /* font-size: 2.5rem;  */
    }

    .hero-description {
        font-size: 1rem; /* Increase font size for larger screens */
    }

    .hero-image {
        width: 540px; /* Increase image size for larger screens */
        height: auto;
    }
}