@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B1E45;
    color: white;
    height: 467px;
    box-sizing: border-box;
    padding-left: 100px;
}

.hero-content {
    width: 45%;
}

.hero-title, .hero-subtitle, .hero-description {
    margin: 0;
}

.hero-title, .hero-subtitle {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.hero-description {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    font-size: 0.9rem;
}

.hero-button {
    background-color: white;
    color: #0B1E45;
    border: none;
    padding: 8px 40px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #e5e5e5;
}

.hero-image-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
}

.hero-image {
    width: 434px;
    height: auto;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    .hero-container {
        width: 100vw;
    }
    .hero-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .hero-content {
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-title, .hero-subtitle {
        font-size: 2.1rem;
    }
    .hero-description {
        font-size: 0.85rem;
        max-width: 90%;
    }
    .hero-button {
        padding: 10px;
        width: 328px;
        height: 44px;
        font-size: 0.9rem;
        border-radius: 12px;
        margin-top: 10px;
    }
    .hero-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image {
        width: 401px;
        height: 286.63px;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1000px) and (max-width: 1350px) {
    .hero-section {
        height: 390px;
    }
}

@media (min-width: 1400px) {
    .hero-content {
        width: 40%;
    }
    .hero-description {
        font-size: 1rem;
    }
    .hero-image {
        width: 540px;
        height: auto;
    }
}
